.App {
  text-align: center;
}

.copyrightStyle {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.appBarStyle {
  border-bottom: 1px solid;
}

.toolBarStyle {
  flex-wrap: wrap;
}

.typeStyle {
  flex-grow: 1;
}

.homeBackground {
  background-image: url("./images/image.JPG");
  opacity: 0.7;
}

.homeButton {
 margin-left: auto;
}

.containerStyle {
  margin-top: 4%;
}

.paperStyle {
  height: 90vh;
  width: 80vh;
  margin-left: 10%;
}